  
.show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .booknotavailable{
    opacity: .2;
   
  }
  .showHand{
    cursor: pointer;
  }
  .nodata{
    padding: 10px;
    text-align: center
  }
  .cardblockshadow{
    position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
  }
  .cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 213px; 
    /* height: 1.2em;  */
    white-space: nowrap;
  }

  .image3d{
    box-shadow: 5px 6px 8px;
  }
  .headertext{
    padding: 10px;
      background-color: cadetblue;
      border-radius: inherit;
      position: fixed;
      top: 0;
      z-index: 100000;
      width: 100%;
  }


  .badge{
    border-radius: 20px;
    border: 2px solid #FFF;
    width: 25px;
    height: 25px;
    background-color: #FF6B6B;
    position: absolute;
    top: -5px;
    left: -18px;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-weight: 700;
  }
  .card-text{
    font-size: 15px;
    border: 2px solid;
    font-weight: 700;
    padding: 6px;
    background-color: #343A40;
    text-align: center;
  }

  #main{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  /* animation: type .5s alternate infinite; */
}

/* @keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
} */